.tabler{

        padding-left: 0.75rem; 
        padding-right: 0.75rem; 
        padding-top: 0.875rem; 
        padding-bottom: 0.875rem; 
        text-align: left;
        font-size: 0.875rem; 
        font-weight: 600; 
        color: #1a202c; 

}