.div{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: #fff;
}